$color1: #159dd3;
$color1Light: #ebf8ff;
$color1Dark: #196d9f;
$color1Mat: #91cce47e;
$color1MatMatter: #ecf4f77e;
$color2: rgb(139, 120, 10);

$colorBleu: #159dd3;
$colorBleuDark: #107eaa;
$colorViolet: #a648e6;
$colorVioletDark: #923fc9;
$colorRose: #ce1396;
$colorRoseDark: rgb(179, 15, 130);
$colorBleuCanard: #24beaa;
$colorBleuCanardDark: #1fa794;
$colorVert: #b0ce08;
$colorVertDark: #a3be07;
$colorOrange: #f5981e;
$colorOrangeDark: #e28c1b;
$colorRouge: #d11352;
$colorRougeDark: #b11046;
